/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
    font-style: normal;
} */

.form_item {
    width: 466px;
    padding: 32px;

    position: relative; /* даем возможность позиционировать абсолютный элемент относительно этого элемента */
}

.form_title {
    font-weight: 800;
    font-size: 28px;
    margin-bottom: 20px;
}

.form_descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin: 24px 0;
    color: #7B8E98;
    width: 100%;
}

.form_descr_link {
    text-align: end;
}


.form_input {
    width: 100%;
    border: 1px solid #CFD8DC;
    border-radius: 12px;
    padding: 14px 16px;
    margin: 4px 0;

    font-weight: 400;
    font-size: 18px;
    color: #1A1A1A;
}

/* при фокусировке - щелчке */
.form_input:focus {
    outline: none;
    border-color: rgba(0, 170, 80, 0.75);
}

/* при наведении мышки */
/* .form_input:hover {
    padding: 7px 16px;
    border-color: #FFE44D;
} */

.error {
    color: red;
}