.background {
    background-image: url('../../media/subscription_img.png');
    margin: 20px 10px 20px 10px;
    background-repeat: no-repeat;
    min-height: 652px;
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}