.form_container {
    position: absolute;
    right: 0;
    width: 45%;
    height: 100%;
}

.form_container form {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.checkbox_container {
    /* display: flex; */
    display: none;
    flex-direction: column;
    gap: 5px;
    
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    border: none;
    /* background-color: #e3e3e1; */
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    color: #2D2D2D;
    box-shadow: 10px 10px 12px rgba(141, 140, 146, 0.9);
}

.button_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 90%;
}







/* .form_container input, 
.form_container select {
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: #e3e3e1;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    color: #2D2D2D;
    box-shadow: 10px 10px 12px rgba(141, 140, 146, 0.9);
} */