.header {
    /* min-height: 12vh; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 15px 0 15px 0;
}

.logo_main img {
    z-index: 1;
    width: auto;
    height: 220px;
}

.logo img {
    z-index: 1;
    width: auto;
    height: 65px;
}

.logo_container {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 10;
}

@media (min-width: 320px) and (max-width: 767px) {
    .logo img {
        height: 40px;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (min-width: 768px) and (max-width: 1439px) {
    
}