.background {
    background-image: url('../../media/pack_search_img_close-up-sustainable-coffee-cup-alternatives_3_small.png');
    background-repeat: no-repeat;
    min-height: 652px;
}

.background a {
    text-decoration: none;
}