.footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 40px;
}

.footer > div {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: rgb(91, 94, 93);
    letter-spacing: 2px;
}

.menu_items_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    margin: 20px 0 40px 0;  
}

.menu_items_container a {
    text-decoration: none;
    color: rgb(91, 94, 93);
}

.menu_items_container a:hover{
    text-decoration: underline;
}

.contact_item {
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(91, 94, 93);
    cursor: pointer;
}

.contact_item:hover {
   text-decoration: underline;
}

.social_link {
    color: rgb(91, 94, 93);
}

.icon {
    width: 20px;
    height: 20px;
    fill: rgb(91, 94, 93);
}