/* @font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}     */

/* @font-face {
    font-family: 'Dosis';
    src: local('Dosis'), url('./fonts/Dosis-VariableFont_wght.ttf') format('truetype');
}     */

@font-face {
    font-family: 'Maven Pro';
    src: local('Maven Pro'), url('./fonts/MavenPro-VariableFont_wght.ttf') format('truetype');
}    

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat'; */
    /* font-family: 'Dosis'; */
    font-family: 'Maven Pro';
    font-style: normal;
    color: #2D2D2D;
}

html {
    overflow-x: hidden;
}

body {
    /* background-image: url('./media/paper_background_2.png');
    opacity: 1;
    background-size: cover; */
    /* background-color: #c8beb0; */
    background-color: rgba(200, 190,176, 0.70);
}

.content_container {
    width: 45%;
    height: fit-content;
    margin-left: 800px;
    padding-top: 20px;
}

.content_container p {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 28px;
}

.page_title {
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #00aa50bf;
}

.button_container {
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    width: 90%;
}

body.lock-scroll {
    overflow-y: hidden;
  }

/* @media (min-width: 320px) and (max-width: 767px) {
    body {
      
    }
}

@media (min-width: 768px) and (max-width: 1439px) {
    body {
       
    }
} */

/* .blur {
    width: 100vw;
    min-height: 100vh;
    backdrop-filter: blur(2.5px);
    position: absolute;
    top: 0;
    left: 0;
} */


/* https://www.freepik.com/premium-vector/watercolour-nature-design-with-hand-painted-leaves_29314368.htm#query=watercolor%20background&position=9&from_view=keyword&track=ais */
/* https://www.freepik.com/free-photos-vectors/watercolor-background */
/* https://stock.adobe.com/de/search?k=%22green+nature+background%22 */

/* https://www.w3schools.com/cssref/css3_pr_background-size.php */

/* https://infogra.ru/design/krutaya-shpargalka-po-sochetaniyu-tsvetov */