.home_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
}

.choice_btns_container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 480px;
    gap: 60px;
}

.home_img {
    width: 1052px;
    height: 609px;
}

.home_page a {
    text-decoration: none;
}

.icon {
    width: 30px;
    height: 30px;
    fill:  white;
}