.nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu_icon {
    width: 40px;
    height: 40px;
    fill:  rgba(0, 170, 80, 0.75);
    cursor: pointer;
}

.menu_icon:hover {
    fill:  rgba(0, 170, 80, 1);
}

.icon {
    fill:  white;
    width: 26px;
    height: 26px;
}

.nav_menu {
    display: none;

    width: 30vw;
    height: 100vh;
    padding: 20px 50px 50px 50px;

    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    border-top: 1px solid #A7A7A7;;
    border-left: 1px solid #A7A7A7;;
    border-bottom: 1px solid #A7A7A7;;
    background-color: #aeceb9;
    
    position: absolute;
    top: 0;
    right: calc(((100vw - 1440px) / 2) * -1);
    z-index: 20;  

    /* animation-name: nav_menu_open;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;      */
}

/* @keyframes nav_menu_open {
    from { 
        transform: translateX(100%);
      }
    to { 
        transform: translateX(0);
    }
}     */

.nav_menu.is_active {
    display: flex;
}

.nav_menu a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
    color: #2D2D2D;
    letter-spacing: 2px;
}

.nav_menu a:hover {
    letter-spacing: 5px;
    font-weight: 500;
    transition: all .4s ease; 
}

.close_icon_container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.icon_close {
    fill:  rgb(91, 94, 93);
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.icon_close:hover {
    fill: #2D2D2D;
    transform: rotate(180deg);
    transition: all .4s ease;
}

.menu_items_container,
.contacts_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.menu_items_container {
    gap: 40px;
    font-size: 20px;
}

.contacts_container {
    gap: 10px;
    font-size: 14px;
}

.contacts_container a {
    color: rgb(91, 94, 93);
}

@media (min-width: 320px) and (max-width: 767px) {
    .nav {
        width: calc(100vw - 20px);
        justify-content: space-between;
        gap: 20px;
        position: absolute;
        top: 25px;
    }
    
    .icon {
        width: 20px;
        height: 20px;
    }
}